In [1]:
# Update sklearn to prevent version mismatches
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

# Read the CSV and Perform Basic Data Cleaning

In [2]:
df = pd.read_csv("Resources/MSFT.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2016-01-19  51.480000  51.680000  50.060001  50.560001  46.137611  43564500
1  2016-01-20  49.980000  51.380001  49.099998  50.790001  46.347496  63273000
2  2016-01-21  51.000000  51.580002  50.299999  50.480000  46.064606  40191200
3  2016-01-22  51.410000  52.330002  51.259998  52.290001  47.716290  37555800
4  2016-01-25  51.939999  52.650002  51.650002  51.790001  47.260017  34707700

In [3]:
#df = pd.get_dummies(df)
#df.head()
#df = df.drop('Date', axis=0)
df = df.drop(columns=['Date'])
df.head()

        Open       High        Low      Close  Adj Close    Volume
0  51.480000  51.680000  50.060001  50.560001  46.137611  43564500
1  49.980000  51.380001  49.099998  50.790001  46.347496  63273000
2  51.000000  51.580002  50.299999  50.480000  46.064606  40191200
3  51.410000  52.330002  51.259998  52.290001  47.716290  37555800
4  51.939999  52.650002  51.650002  51.790001  47.260017  34707700

In [4]:
diff = df['Close']-df["Open"]
diff_locations = []
for i in diff:
    if (i <0):
        diff_locations.append(0)
    else:
        diff_locations.append(1)
df['diff'] = pd.DataFrame(diff_locations)
df = df[['Open','High', 'Low', 'Close', 'Volume','diff']]
#X = df[['High', 'Low', 'Close', 'Volume']]
df.head()

        Open       High        Low      Close    Volume  diff
0  51.480000  51.680000  50.060001  50.560001  43564500     0
1  49.980000  51.380001  49.099998  50.790001  63273000     1
2  51.000000  51.580002  50.299999  50.480000  40191200     0
3  51.410000  52.330002  51.259998  52.290001  37555800     1
4  51.939999  52.650002  51.650002  51.790001  34707700     0

In [5]:
y = df["diff"]

X = df[['Open','High', 'Low', 'Close', 'Volume']]
#X = df[['High', 'Low', 'Close', 'Volume']]
print(X.shape, y.shape)

(1259, 5) (1259,)

In [7]:
target_names = ["negative", "positive"]

In [6]:
data = df.drop("diff", axis=1)
feature_names = data.columns
data.head()

        Open       High        Low      Close    Volume
0  51.480000  51.680000  50.060001  50.560001  43564500
1  49.980000  51.380001  49.099998  50.790001  63273000
2  51.000000  51.580002  50.299999  50.480000  40191200
3  51.410000  52.330002  51.259998  52.290001  37555800
4  51.939999  52.650002  51.650002  51.790001  34707700

# Select your features (columns)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, y, random_state=42)

In [9]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')

In [10]:
# Create the GridSearch estimator along with a parameter object containing the values to adjust
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10],
              'gamma': [0.0001, 0.001, 0.01]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [ ]:
# Fit the model using the grid search estimator. 
# This will take the SVC model and try each combination of parameters
grid.fit(X_train, y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

In [ ]:

# List the best parameters for this dataset
print(grid.best_params_)

In [ ]:
# Make predictions with the hypertuned model
predictions = grid.predict(X_test)

In [ ]:
print('Test Acc: %.3f' % grid.score(X_test, y_test))

In [ ]:
# Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions,
                            target_names=["blue", "red"]))